@import config

body
    //min-width: 435px;
    line-height: 1.5
    font-size: $fontsize
    overflow-x: hidden
    display: block

// Hero Section 
.banner
    position: relative
    width: 100%
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
    background: url(../images/dist/clouds/sky8.jpg)
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center
    @media only screen and (max-width: 812px) and (orientation: landscape)
        height: 100% !important

    .clouds
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        pointer-events: none
        img
            position: absolute
            bottom: 0
            min-width: 100%
            animation: animate calc(3s * var(--i)) linear infinite
            @media only screen and (max-width: 812px) and (orientation: landscape)
                bottom: -50vh

    @keyframes animate
        0%
            opacity: 0
            transform: scale(1)

        25%
            opacity: 1

        75%
            opacity: 1

        100%
            opacity: 0
            transform: scale(3)

    &-content
        display: flex
        justify-content: center
        flex-direction: column
        display: block
        align-self: center
        text-align: center
        color: $lightblue
        z-index: 2
        .site-title
            @include font-size (140px)
            font-weight: 700
            text-shadow: 2px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff
            z-index: 1
            @media only screen and (max-width: 812px) and (orientation: landscape)
                @include font-size (80px)

        .site-subtitle
            @include font-size (40px)
            font-weight: 500
            z-index: 1
            @media only screen and (max-width: 812px) and (orientation: landscape)
                @include font-size (24px)

        .site-description
            margin-top: 0
            margin-bottom: 1rem
            @include font-size (32px)
            z-index: 1
            @media only screen and (max-width: 812px) and (orientation: landscape)
                @include font-size (24px)

        .header-contact-icons
            display: flex
            justify-content: center
            text-align: center
            margin-top: 0
            margin-bottom: 1rem
            a
                color: transparent

            .icon
                text-align: center
                color: $lightblue
                @include font-size (24px)
                padding: 10px
                margin: 0 7px
                border-radius: 50%
                border: 2px solid $lightblue
                transition: all 0.7s
                &:hover
                    color: $light
                    background: $lightblue

                &:active
                    color: $lightblue
                    background: $light

    .dropdown__custom
        position: absolute
        top: 20px
        left: 5px
        .btn-custom
            background-color: $lightblue
            color: $sec
            i
                font-size: 1.5em
        @media only screen and (min-width: 812px)
            display: none
    .dropdown-item.active, .dropdown-item:active
        color: $main
        text-decoration: none
        background-color: $sec
    .dropdown-item:focus, .dropdown-item:hover
        color: $sec
        text-decoration: none
        background-color: $lightblue
    .header-lng-sw
        position: absolute
        top: 20px
        left: 5px
        border-radius: 50%
        overflow: hidden
        .icon
            transition: all 0.7s
            opacity: 0.5
            &:hover
                opacity: 1

        img
            width: 35px
        @media only screen and (max-width: 812px)
            display: none
